# Olympics Data

In [13]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col = 0, skiprows = 1)

for column in df.columns:
    if column[:2] == '01':
        df.rename(columns = {column:'Gold' + column[4:]}, inplace = True)
    if column[:2] == '02':
        df.rename(columns = {column:'Silver' + column[4:]}, inplace = True)
    if column[:2] == '03':
        df.rename(columns = {column:'Bronze' + column[4:]}, inplace = True)
    if column[:1] == '№':
        df.rename(columns = {column:'#' + column[1:]}, inplace = True)

names_ids = df.index.str.split('\s\(')
df.index = names_ids.str[0]
df['ID'] = names_ids.str[1].str[:3]
df = df.drop('Totals')
df.head(10)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN

### Return the info about a particular country

The country name to be queried should be put inside the 'loc()' function

In [43]:
df.loc['India']

# Summer           23
Gold                9
Silver              6
Bronze             11
Total              26
# Winter            9
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            32
Gold.2              9
Silver.2            6
Bronze.2           11
Combined total     26
ID                IND
Points             50
Name: India, dtype: object

### Which country has the most Gold Medals in Summer Games?

In [44]:
def max_gold_summer():
    return df['Gold'].idxmax()
max_gold_summer()

'United States'

### Which country has the biggest difference between Summer and Winter Gold medals?

In [45]:
def max_difference():
    return (df['Gold'] - df['Gold.1']).idxmax()
max_difference()

'United States'

### Which country has the biggest difference between Summer and Winter Gold medals relative to their current count?

The country should have at-least one gold medal in both the games

In [46]:
def max_difference_wrt_total():
    new_df = df[(df['Gold'] >= 1) & (df['Gold.1'] >= 1)]
    return ((abs(new_df['Gold'] - new_df['Gold.1'])) / new_df['Gold.2']).idxmax()
max_difference_wrt_total()

'Bulgaria'

### Create a new series 'Points'

Create a new series 'Points' such that each Gold, Silver and Bronze medal is worth 3, 2 and 1 points respectively

In [47]:
def points_series():
    df['Points'] = df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1
    return df['Points']
points_series()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64